html/
**/*.a
**/*.swp    
**/*.swo
**/*.o
**/.deps
hfm
COPYING
INSTALL
aclocal.m4
config.log
config.status
autom4te.cache
autoscan.log
configure
**/Makefile
**/Makefile.in
compile
depcomp
install-sh
missing
src/.dirstamp
test-driver
tests/config_check
tests/config_check.log
tests/config_check.trs
tests/test-suite.log
