html/
**/*.a
**/*.swp    
**/*.swo
**/*.o
**/.deps
hfm
COPYING
INSTALL
aclocal.m4
config.log
config.status
autom4te.cache
autoscan.log
configure
**/Makefile
**/Makefile.in
compile
depcomp
install-sh
missing
tests/*.out
tests/tmp
test001
test002
test003
test004
test106
test107
test108
test009
test010
test011
test012
test013
